@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito+Sans&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    
    --color-body: #ffffff;
    --color-heading: #000205;
    --color-base: #626060;
    --color-base2: #303030;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 150px;
    --font-base: "Merriweather";
}


body{
    background-color: var(--color-body);
    color: var(--color-heading);
    font-family: var(--font-base), sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
    color: var(--color-body) !important;
    

    font-weight: 500;

}

a{
    text-decoration: none;
    color: var(--color-body) ;
    transition: all 0.4s ease;
}

a:hover{
    color: var(--color-brand);
}

img{
    width: 100%;
}


.logo{
    width: 60px;
    height: auto;
    object-fit: cover;
}



header{
    background-image: url(https://javiercerveral.github.io/agsur/assets/media/car2.jpg);
    
    background-position: center;
    background-size: cover ;
    height: 85vh;
    position: relative;
    z-index: 1;
    
}


.title{
    color: var(--color-body);
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-40%);
    z-index: -1;

}

.title h2{
    font-size: 5em;
    color: #000205 !important;
    text-shadow: -1px 0 rgb(255, 253, 253), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 252, 252), 0 -1px rgb(255, 255, 255);
}

.title h6{
    color: #d65643 !important;
    font-size: 2em;

}

.btn{
    background-color: #3641a7;
    color: var(--color-body);
    font-weight: 700;
    padding-left:20px ;
    padding-right: 20px;
    margin-top: 25px;
}